.hidden {
    display: none !important;
}

.navbar .nav-logo {
    display: flex;
    align-items: center;
    color: var(--text-light);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    gap: 10px;
}

.navbar .nav-logo img {
    width: 30px;
    height: 30px;
}

.navbar .nav-search input {
    width: 200px;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    text-align: center;
    background-color: #f4f4f4;
    transition: box-shadow 0.3s ease-in-out;
}

.navbar .nav-search input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#pokemon-cards-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    max-width: 1440px;
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-dark);
    width: 200px;
    height: 300px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 10px var(--card-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
    cursor: pointer;
}

.pokemon-container:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px var(--card-shadow);
}

.pokemon-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    color: var(--text-light);
    font-weight: bold;
    font-size: 18px;
}

.pokemon-id {
    color: var(--poke-red);
}

.pokemon-name {
    text-transform: capitalize;
}

.pokemon-image img {
    width: 120px;
    height: 120px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: none;
}

.pokemon-image img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 8px 10px rgb(207, 253, 1));
}

.type-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    background-color: var(--type-color, #ccc);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.type-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-spinner img {
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

#load-more-container {
    text-align: center;
    margin-top: 20px;
}

#pokemon-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#modal-content {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 550px;
    width: 40%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#modal-details {
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 8px;
}

.tab-content {
    display: none;
}

.stat-item{
    display: flex;
    justify-content: space-between;
}

.stat-name{
  width: 120px;
  text-align: left;
}

.tab-content:not(.hidden) {
    display: block;
}

.modal-header {
    text-align: center;
    margin-bottom: 20px;
}

.modal-header .pokemon-id {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--poke-red);
}

.modal-header .pokemon-name {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

.modal-header .pokemon-image img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 10px;
}

.stat-block{
    display: flex;
    gap: 30px;
}

.stat-before{
    width: 130px;
    text-align: left;
}

.evo-chain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.evo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evo-item img {
    height: 96px;
}

.evo-item span {
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 5px;
}

progress {
    width: 60%;
    height: 15px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background-color: #f3f3f3;
}

progress::-webkit-progress-value {
    background-color: var(--poke-red);
    transition: width 0.3s;
}

progress::-moz-progress-bar {
    background-color: var(--poke-red);
}
